.work {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 50px 0;
    h1 {
        font-size: 4rem;
        margin-bottom: 50px;
    }
}

.work__projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 3rem;
}

.work__project {
    display: flex;
    position: relative;

    img {
        height: 350px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.4s ease;
    }
    div {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        cursor: pointer;
        transition: all 0.6s ease;
        width: 100%;
        span {
            font-size: 2.7rem;
        }
        h6 {
            margin-top: 10px;
            font-size: 1rem;
        }
    }
    h5 {
        display: none;
    }
    &:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
    }
    &:hover img {
        filter: brightness(0.2);
        transform: scale(1.05);
    }
    &:hover div {
        opacity: 1;
    }
}

// .project-enter {
//     position: relative;
//     width: initial;
//   }
//   .project-enter-active {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 1000px;
//     transition: all 0.4s;
//   }
//   .project-exit {
//     position: absolute;
//     width: 1000px;
//   }
//   .project-exit-active {
//     position: relative;
//     width: initial;
//     transition: all 250ms;
//   }

@media screen and (max-width: 1400px) {
    .work__project {
        img {
            height: 330px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .work {
        h1 {
            font-size: 3.7rem;
        }
    }
    .work__project {
        img {
            height: 310px;
        }
        div {
            span {
                font-size: 2.5rem;
            }
            h6 {
                font-size: 0.9rem;
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .work__project {
        img {
            height: 280px;
        }
    }
}

@media screen and (max-width: 1120px) {
    .work__project {
        img {
            height: 250px;
        }
        div {
            span {
                font-size: 2.2rem;
            }
            h6 {
                font-size: 0.8rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .work__projects {
        display: flex;
        flex-flow: column;
        grid-template-columns: none;
        align-items: center;
        row-gap: 7rem;
        margin: 100px 0;
        grid-template-rows: none;
    }
    .work__projects {
        margin: 70px 0;
    }
    .work__project {
        flex-flow: column;
        align-items: center;
        img {
            height: 300px;
        }
        div {
            left: 50%;
            top: -40px;
            transform: translate(-50%,-50%);
            opacity: 1;
            span {
                font-size: 2.5rem;
            }
            h6 {
                display: none;
            }
        }
        h5 {
            margin-top: 15px;
            display: block;
            font-size: 0.9rem;
        }
        &:hover img {
            filter: none;
            transform: none;
        }
        &:hover div {
            opacity: 1;
        }
    }        
}

@media screen and (max-width: 800px) {
    .work {
        h1 {
            font-size: 3.2rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .work__projects {
        row-gap: 6rem;
    }
    .work {
        h1 {
            font-size: 3rem;
        }
    }
    .work__projects {
        margin: 50px 0;
    }
    .work__project {
        img {
            height: 240px;
        }
        div {
            span {
                font-size: 2.2rem;
            }
        }
        h5 {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .work {
        h1 {
            font-size: 2.65rem;
        }
    }
    .work__project {
        img {
            height: 210px;
        }
        div {
            top: -33px;
            span {
                font-size: 2rem;
            }
        }
        h5 {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .work {
        h1 {
            font-size: 2.25rem;
        }
    }
    .work__project {
        img {
            height: 190px;
        }
        div {
            span {
                font-size: 1.7rem;
            }
        }
        h5 {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 365px) {
    .work {
        h1 {
            font-size: 2.12rem;
        }
    }
    .work__project {
        img {
            height: 170px;
        }
        div {
            span {
                font-size: 1.7rem;
            }
        }
        h5 {
            font-size: 0.7rem;
        }
    }
}

@media screen and (min-width: 1700px) {
    .work {
        width: 1400px;
    }
}